body {
  background-image: url("../pages/cadastro_road.jpg");
  background-color: rgb(181, 225, 232);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  background-size: 100% 100%;
}

i {
  margin-right: max(0.5vw, 1vh);
}

a {
  text-decoration: none;
}

#menu {
  padding: 0%;
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  background: rgb(240, 112, 0);
  height: max(5vw, 10vh);
  z-index: 9999;
}

#texthead {
  position: relative;
  left: max(4vw, 8vh);
  margin: 0;
  font-size: max(4vw, 8vh);
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
}

#navbar {
  display: flex;
  position: absolute;
  right: 0%;
}

.ops {
  text-indent: 10%;
  display: flex;
  padding-right: max(1vw, 2vh);
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: max(1.7vw, 2.5vh);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  height: max(5vw, 10vh);
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
  border-radius: 0%;

}

.ops:hover {
  text-shadow: 2px 2px rgba(202, 94, 0, 0.6);
  background: rgb(255, 124, 9);
  cursor: pointer;
}

.ops2 {
  position: fixed;
  /*visibility: hidden;*/
  display: flex;
  justify-content: center;
  background: rgb(240, 112, 0);
  color: #fff;
  font-size: max(1.75vw, 2.2vh);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: max(0.4vw, 0.8vh);
  align-items: center;
  width: max(15vw, 12vh);
  height: max(4vw, 8vh);
  left: 0;
  z-index: 9999;
}

.ops2:hover {
  text-shadow: 2px 2px rgba(202, 94, 0, 0.6);
  background: rgb(255, 124, 9);
  cursor: pointer;
}

#op21 {
  margin-top: 0;
}

#op22 {
  top: max(8vw, 16vh);
}

#op23 {
  top: max(12vw, 24vh);
}

#oplast2 {
  top: max(16vw, 32vh);
}

#oplast22 {
  top: max(20vw, 40vh);
}

#p3arts {
  position: relative;
  font-size: max(5vw, 7vh);
  margin-left: 0.5vw;
  margin-top: 1vh;
  color: #fff;
  cursor: pointer;
}

#contcad {
  width: max(40vw, 50vh);
  height: 130vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: rgba(214, 211, 149, 0.682);
  border: 2px thin #fff;
  border-radius: max(1vw, 2vh);
  text-align: center;
}

#nomepe {
  text-align: center;
  color: #fff;
  margin-top: max(5vw, 10vh);
  font-size: max(2vw, 4vh);
}

#nome {
  margin-top: max(1.5vw, 3vh);
  font-size: max(1.5vw, 3vh);
  height: max(2.5vw, 5vh);
  width: max(20vw, 40vh);
  border-radius: max(1vw, 2vh);
}

.enum {
  text-align: center;
  color: #fff;
  margin-top: max(2.5vw, 5vh);
  font-size: max(2vw, 4vh);
}

.geti {
  margin-top: max(1.5vw, 3vh);
  font-size: max(1.5vw, 3vh);
  height: max(2.5vw, 5vh);
  width: max(20vw, 40vh);
  border-radius: max(1vw, 2vh);
}

#conf > a{
  color: #fff;
}

#conf {
  height: min-content;
  font-size: max(1.5vw, 3vh);
  width: auto;
  background: rgb(22, 207, 22);
  color: #fff;
  border-radius: max(0.5vw, 1vh);
  margin: auto;
  padding: 1.8%;
}

#conf:hover {
  background: rgb(0, 91, 23);
  color: #fff;
  cursor: pointer;
}

#cfim {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
}

.fim {
  width: calc(100% / 3);
  height: auto;
  text-align: center;
  align-content: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#prev {
  font-size: max(1.5vw, 3vh);
  position: relative;
  display: flex;
  margin-top: 5vw;
  align-items: center;
  justify-content: center;
  height: max(5vw, 10vh);
  padding-bottom: 2vh;
  border-bottom: 2px solid #000;
}

footer {
  font-size: max(1.3vw, 2.3vh);
  text-align: center;
  align-items: center;
  width: 100%;
  background: rgba(220, 220, 220, 0.9);
  padding-bottom: 1vh;
}
